h1{
    color: black;
}

h2{
    padding-top: 5%;
    padding-bottom: 1%;
    text-align: center;
    text-decoration: underline;
}

section{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 9px;
}

section div{
    margin-right: 10px;
    border: solid;
    border-color: #e3813c;
}

.NewsImportante{
    margin: 50px 60px 10px 60px;
    border: solid;
    border-color: #e3813c;
    text-align: center;
}

.NewsImportante img{
    width: 90%;
    
}

