a{
    text-decoration: none;
}

h1{
    color: black;
}

h2{
    text-align: center;
    color: #e3813c;
    padding-top: 5%;
    text-decoration: underline;
}
#cal{
    width: 100vh;
    margin-left: 27%;
}

section{
    display: flex;
    justify-content: center;
}

section img{
    border-radius: 50%;
}

p{
    text-align: center;
    padding: 12px;
}

/* Footer */
#footer{
    text-align: center;
    padding: 30px;
}
div a button{
    
    color: white;
    background: transparent;
    border: none;
    padding: 4px;
}

#footer{
    background-color: black;
    color: white;
}